<div class="row">

    <div class="col-lg-6">

        <div class="well bs-component">
            <form class="form-horizontal" th:action="@{/chat}" method="POST">
                <fieldset>
                    <legend>Share your thoughts</legend>
                    <div class="form-group">

                        <div class="col-lg-10">
                            <textarea class="form-control" placeholder="Write your thoughts here" rows="3" id="content" name="content" ></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>